<%- include("partials/header") %>
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class ="form-control" type="text" name="PostTitle" value="">
        <label>Posts</label>
        <textarea class ="form-control" name="TextDescription" rows="5" cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">publish</button>
  </form>

<%- include("partials/footer") %>
