<%- include("partials/header") %>
  <h1>Contact Us!</h1>
  <h2><%= ContactContent %> </h2>
  <h4><a href="mailto:riyazahamad397@gmail.com" class="btn btn-primary" >Email Us </a></h4>
<%- include("partials/footer") %>
